*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image7.jfif);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 300px;
    height: 390px;
    position: relative;
    margin:6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    border-radius: 20px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    background: transparent;
    cursor:pointer;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#100dd6,#06cdff);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
    
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    color: #0e0c0c;
    width: 30%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#100dd6,#06cdff);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.span{
    color: #0e0c0c;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#Login{
   
    left: 10px;

}
#Signup{
    left: 450px;
} 